<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478878468730-6p2pufihthfpnm5a39oj806cblqpr82d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478878468730-6p2pufihthfpnm5a39oj806cblqpr82d</string>
	<key>API_KEY</key>
	<string>AIzaSyBnrjkQj_-ixLwcZEmfIoCboyms0zl9zwE</string>
	<key>GCM_SENDER_ID</key>
	<string>478878468730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getxFirebaseBmiApp</string>
	<key>PROJECT_ID</key>
	<string>bmi-app-1bafd</string>
	<key>STORAGE_BUCKET</key>
	<string>bmi-app-1bafd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478878468730:ios:6c88c2d8971dff3f1a89c3</string>
</dict>
</plist>